:root{
    --pinkish: rgb(255, 0, 123);
    --blueish: rgb(0, 98, 255);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body {
  height: 100%;
  width: 100%;
}

body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    >p{
        position: absolute;
        color: white;
        bottom: 3rem;
        text-align: center;
    }
}

@property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@property --color{
    syntax: "<color>";
    initial-value: rgb(255, 0, 123);
    inherits: false;
}

@keyframes animateColor{
    from{
        --color: var(--pinkish);
    }
    to{
        --color: var(--blueish);
    }
}

@keyframes animateBorder{
    from{
        --rotate: 1deg;
    }
    to{
        --rotate: 360deg;
    }
}

.card{
    max-width: 300px;
    padding-inline: 10px;// horizontal padding mean padding in left and right
    padding: 20px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    background: linear-gradient(black) padding-box;
    animation: animateBorder 0.4s linear infinite, animateColor 1.5s linear infinite alternate;
    transition: all linear 0.1s;
    cursor: pointer;

    img{
        width: 100%;
    }
}
.card:hover{
    background: linear-gradient(black) padding-box,
                conic-gradient(from var(--rotate),black,var(--color),black) border-box;
    border: 0.35rem solid transparent;
    box-shadow: 0px 0px 50px var(--color);
    text-shadow: 1px 0px 2px var(--color),
                -1px 0px 2px var(--color);
    color: var(--color);
}

// .outer{
//     max-width: 300px;
//     border-radius: 20px;
//     background: conic-gradient(from var(--deg),black,rgb(255, 0, 123),black);
//     animation: animateOuter 0.5s infinite both;
//     .card{
//         width: 100%;
//         padding-inline: 10px;// horizontal padding mean padding in left and right
//         padding-bottom: 10px;
//         color: whitesmoke;
//         display: flex;
//         flex-direction: column;
//         gap: 10px;
//         border-radius: 15px;
//         background-color: black;
    
//         img{
//             width: 100%;
//         }
//     }
// }
// .outer:hover{
//     padding: 0.35rem;
//     box-shadow: 0px 0px 60px rgb(255, 0, 123);
    
// }
// .outer:hover .card{
//     text-shadow: 1px 0px 2px rgb(255, 0, 123),
//     -1px 0px 2px rgb(255, 0, 123);
//     color: rgb(255, 0, 123);
// }





































// @property --bgColor{
//     syntax: "<color>"; //syntax tells the name of this property or what is the work of this property.
//     initial-value: red;
//     inherits: false; // generally use false value for iherits
// }

// @keyframes animateBgColor{
//     from{
//         --bgColor: red;
//     }
//     to{
//         --bgColor: blue;
//     }
// }

// /* discrete properties in css behave diffrent in animate with compared to othere normal properties.*/


// .box{
//     height: 200px;
//     width: 400px;
//     background-color: var(--bgColor);
//     animation: animateBgColor 3s both infinite alternate;
// }